header, footer{
    background-color: chocolate;
}
nav{
    display:flex;
    justify-content: space-between;
}
nav p a{
    text-decoration: none;
    color: inherit;
}
nav ul li{
    list-style-type: none;
    display: inline;
}